table {
    width: 100%;
}
.mat-row:hover {
    background-color: #707BB8;
}


.edit > i {
    margin-right: 10px;
    color: #E09627;
}

.delete > i {
    margin-left: 10px;
    color: #B41832;
}

.edit > i:hover {
    color: #EEC383;
}

.delete > i:hover {
    color: #DB566C;
}