form {
    display: flex;
    flex-direction: column;
}

.delete{
    margin: 10px 5px 0px 0px ;
    background-color: #B41832;
}
.delete:hover{
    background-color: #DB566C;
}
.cancel{
    margin: 10px 5px 0px 0px ;
    background-color: #E09627;
}
.cancel:hover{
    background-color: #EEC383;
}